* {
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:hover,
a::after {
  color: black;
  text-decoration: none;
}
.Space {
  width: 100%;
  min-height: 70px;
}
.background {
  width: 100%;
  height: 100vh;
  background-color: #00705b;
  .welcome {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1,
    h2 {
      color: white;
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 100px;
    }
    img {
      width: 8vh;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    h2 {
      font-size: 80px;
    }
  }
}
.M {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR";
  font-style: normal;
}

.magazine {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  .crowdyMagazine {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00705b;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }

  // LeReve 1, 2, 4, 5, 6 png
  img {
    width: 100%;
  }
  .title {
    flex: 1;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    display: left;
    span {
      width: 100%;
      display: inline-block;
      font-weight: 400;
      font-size: 30px;
      line-height: 34px;
      text-align: center;
    }
    .address {
      color: #00705b;
      font-size: 12px;
    }
  }
  .bottom {
    flex: 1;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    display: left;
    .address {
      color: #00705b;
      font-size: 12px;
    }
  }
  .cafeDesc {
    flex: 2;
    border-top: 0.5px solid #adadad;
    border-bottom: 0.5px solid #adadad;
    .topSpan {
      margin-top: 30px;
    }
    .bottomSpan {
      margin-bottom: 30px;
    }
    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #5c5c5c;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
    }
  }
  .questAnswer {
    margin: 0 auto;
    width: 80%;
    .question {
      margin: 0 auto;
      margin-top: 55px;
      span {
        display: inline;
        width: 100%;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #191919;
      }
    }
    .answerOne {
      margin: 0 auto;
      margin-top: 5px;
      line-height: 15px;
      span {
        display: inline;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #5c5c5c;
      }
    }
    .answer {
      margin: 0 auto;
      margin-top: 5px;
      margin-bottom: 55px;
      line-height: 15px;
      span {
        display: inline;
        width: 100%;
        font-weight: 400;
        font-size: 12px;

        color: #5c5c5c;
      }
    }
  }
  // 3.1, 3.2, 3.3, 3.4 png
  // grid gap issue
  .container {
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
  }
}

@media only screen and (min-width: 2200px) {
  .magazine {
    width: 50%;
    img {
      width: 100%;
      background-position: inherit;
    }
    .LereveMenu {
      height: 100%;
    }
    .crowdyMagazine {
      display: none;
    }
    .title {
      display: inline;
      margin-top: 5vh;
      margin-bottom: 5vh;
      line-height: 5vh;
      span {
        font-size: 4vh;
        font-weight: 500;
      }
      .address {
        margin-top: 3vh;
        font-size: 2vh;
        font-weight: 500;
      }
    }
    .cafeDesc {
      width: 100%;
      line-height: 3vh;
      span {
        font-size: 2vh;
      }
      .topSpan {
        margin-top: 5vh;
      }
      .bottomSpan {
        margin-bottom: 5vh;
      }
    }
  }
}
table {
  margin: 0 auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  a {
    img {
      height: 13px;
      width: 13px;
    }
  }
}
