* {
  margin: 0;
  padding: 0;
}
.background {
  width: 100%;
  height: 100vh;
  background-color: #00705b;
  .welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 5vh;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    h1 {
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;
    }
  }
  h2 {
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2vh;
  }
}
