* {
  margin: 0;
  padding: 0;
}

// Font: S-Core Dream
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.SCoreDreamFont {
  font-family: "S-CoreDream-3Light";
}

// top nav
.align {
  margin: auto auto;
}

.Intro {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  .section01 {
    background-color: #faf6f3;
    width: 100%;
    height: 72.4vh;
    .desc {
      position: absolute;
      left: 32%;
      top: 40%;
      transform: translate(-50%, -50%);
      width: 50vh;
      span {
        display: inline-block;
        font-weight: 600;
        font-size: 4.4vh;
        margin-top: 18px;
        line-height: 53px;
      }
      .descs {
        margin-top: 2.7vh;
        span {
          font-weight: 200;
          font-size: 1.6vh;
          line-height: 19px;
          margin-top: 0px;
        }
      }
    }
    .mainMobileIMGs {
      display: none;
    }
    .mainIMGs {
      width: 50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 72%;
      transform: translate(-50%, -50%);
      img {
        width: 72.3vh;
      }
    }
  }
}

// section 02
.section02 {
  margin: 0;
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  .mainMobileIMGs {
    display: none;
  }
  .mainIMGs {
    width: 50%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    img {
      width: 63.8vh;
      position: relative;
      left: 52%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .justWhite {
      position: relative;
      top: 20%;
      z-index: 11;
      width: 100%;
      background-color: #ffffff;
      height: 8vh;
    }
  }
  .desc {
    width: 50vh;
    position: relative;
    left: 70%;
    top: -55%;
    transform: translate(-50%, -55%);
    line-height: 53px;
    span {
      display: inline-block;
      font-weight: 600;
      font-size: 4.4vh;
    }
    .descs {
      margin-top: 20px;
      line-height: 2vh;
      span {
        font-weight: 200;
        font-size: 1.6vh;
      }
    }
    button {
      width: 16.5vh;
      height: 5.7vh;
      margin-top: 3vh;
      border: 0;
      font-weight: 600;
      font-size: 1.6vh;
      line-height: 19px;
      background: #f2f3f5;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

// bottom
.bottom {
  width: 100%;
  height: 25vh;
  border-top: 1px solid #f4f4f6;
  display: inline-block;
  .bottomLink {
    width: 30%;
    margin: 0 auto;
    margin-top: 7vh;
    display: flex;
    div {
      margin: auto;
      font-weight: 200;
      font-size: 1.4vh;
      line-height: 1.7vh;
      color: #343438;
    }
  }
  .email {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #9597a0;
    display: inline-block;
    span {
      font-weight: 200;
    }
  }
}
#menu {
  display: none;
}
#menuBar {
  display: none;
}
#closeButton {
  display: none;
}

.showModal {
  z-index: 10;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 200%;
  transition: 0.3s;
}
.hideModal {
  display: none;
  transition: 0.3s;
}
.showMenu {
  width: 100%;
  height: 163px;
  position: absolute;
  transition: 0.3s;
  background-color: #ffffff;
  border-top: 1px solid #f4f5f6;
  z-index: 999;
  .slideBarMenu {
    ul {
      li {
        position: relative;
        width: 100%;
        height: 54.3px;
        span {
          margin-left: 18px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 200;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: -0.02em;
        }
        span:hover {
          color: #00705b;
        }
        .nowPageColor {
          color: #00705b;
        }
      }
    }
  }
}
.hideMenu {
  width: 100%;
  height: 0;
  position: absolute;
  transition: 0.3s;
  .slideBarMenu {
    display: none;
  }
}

//모바일
@media (max-width: 767px) {
  .bottom {
    height: 250px;
    .bottomLink {
      margin-top: 70px;
      width: 70%;
      div {
        font-size: 14px;
        line-height: 17px;
      }
      .align {
        margin: auto auto;
      }
    }
    .email {
      top: 70px;
    }
  }
  .Intro {
    .section01 {
      overflow: hidden;
      height: 600px;
      .desc {
        overflow: hidden;
        width: 100%;
        top: 230px;
        left: 50%;
        line-height: 15px;
        span {
          font-weight: 900;
          font-size: 30px;
          width: 100%;
          margin: 0;
          text-align: center;
        }
        .descs {
          margin-top: 27px;
          line-height: 20px;
          span {
            font-weight: 200;
            font-size: 16px;
          }
        }
      }
      .mainIMGs {
        display: none;
        overflow: hidden;
        img {
          width: 723px;
        }
      }
      .mainMobileIMGs {
        display: block;
        width: 90%;
        height: 360px;
        position: relative;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
        img {
          width: 282px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      overflow: hidden;
    }

    .section02 {
      overflow: hidden;
      height: 830px;
      .mainMobileIMGs {
        display: block;
        position: relative;
        top: -60%;
        width: 100%;
        margin: 0 auto;
        img {
          position: relative;
          left: 50%;
          transform: translate(-50%, -65%);
          width: 274.99px;
        }
      }
      .mainIMGs {
        img {
          display: none;
          width: 638px;
        }
      }
      .desc {
        top: -70%;
        left: 50%;
        .title {
          span {
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
          }
        }
        span {
          width: 100%;
          text-align: center;
        }
        .descs {
          margin: 0 auto;
          width: 80%;
          text-align: center;
          font-weight: 200;
          font-size: 14px;
          line-height: 17px;
          margin-top: 27px;
          span {
            margin-top: 5px;
            font-size: 16px;
          }
        }
        button {
          position: relative;
          left: 50%;
          width: 219px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          transform: translateX(-50%);
          margin-top: 30px;
          height: 55px;
        }
      }
    }
  }
}
