* {
  margin: 0;
  padding: 0;
}
.magazinePage {
  background-color: #ffffff;
  .section01 {
    width: 100%;
    height: 42.9vh;
    background-color: #f0fbf6;
    .desc {
      position: relative;
      width: 50%;
      height: 20vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); // 임시조치
      .title {
        line-height: 65px;
        span {
          display: block;
          font-weight: 600;
          font-size: 4.4vh;
          letter-spacing: -0.02em;
          text-align: center;
        }
      }
      .descs {
        margin-top: 3vh;
        text-align: center;
        font-weight: 200;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  .section02 {
    width: 100%;
    height: 140vh;
  }
}

// MagazineMenu component
.magazineMenu {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  margin-top: 12vh;
  img {
    float: left;
    width: 40%;
    border-radius: 6px;
  }
  .magazineDesc {
    width: 50%;
    float: left;
    margin-top: 10vh;
    margin-left: 7vh;
    .cafeName {
      font-weight: 200;
      font-size: 20px;
      line-height: 24px;
    }
    .cafeDesc {
      font-weight: 500;
      font-size: 26px;
      line-height: 31px;
      margin-top: 0.8vh;
    }
  }
}

// mobile
@media (max-width: 767px) {
  .magazineMenu {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    div {
      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
      }
      .magazineDesc {
        width: 80%;
        margin: 0;
        margin-top: 20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: left;
        .cafeName {
          font-weight: 200;
          font-size: 14px;
          line-height: 17px;
        }
        .cafeDesc {
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
          margin-top: 8px;
        }
      }
    }
  }
  .magazinePage {
    .section02 {
      width: 100%;
      height: 1100px;
    }
    .section01 {
      width: 100%;
      height: 258px;
      .desc {
        width: 100%;
        top: 50%;
        height: 200px;
        .title {
          width: 100%;
          line-height: 44px;
          position: relative;
          top: 15px;
          span {
            width: 100%;
            font-weight: 600;
            font-size: 30px;
          }
        }
        .descs {
          width: 80%;
          margin: 0 auto;
          margin-top: 20px;
          position: relative;
          top: 15px;
          span {
            display: inline-block;
            font-weight: 200;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
