* {
  margin: 0;
  padding: 0;
}

// Font: Noto Sans Korean
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
.notoSans {
  // can use: font-weight: 300, 400, 500
  font-family: "Noto Sans KR", sans-serif;
}

a,
a:visited,
a:hover,
a::after {
  color: black;
  text-decoration: none;
}

.Space {
  width: 100%;
  min-height: 70px;
}
.M {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR";
  font-style: normal;
}

.magazine {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  .crowdyMagazine {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00705b;
    width: 100%;
    height: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    .goBack {
      img {
        width: 10px;
        position: absolute;
        top: 2.7%;
        left: 8%;
      }
    }
  }
  .slideIMGs {
    margin-top: 30px;
    width: 98%;
  }

  // LeReve 1, 2, 4, 5, 6 png
  img {
    width: 98%;
    display: block;
    margin: 0 auto;
  }

  .title {
    flex: 1;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    display: left;
    span {
      width: 100%;
      display: inline-block;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
    }
    .address {
      color: #00705b;
      font-size: 12px;
    }
  }
  .bottom {
    flex: 1;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    .cafeMenu {
      width: 100%;
      .menupan {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
      }
      img {
        width: 370px;
      }
    }
    .openingHours {
      // margin-top: 20px;
      width: 100%;
      display: inline-block;
      .openingHourTitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
      }
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #5c5c5c;
      }
      .sunday {
        color: #ff4e4e;
      }
    }
    .address {
      color: #00705b;
      font-size: 12px;
      margin-top: 40px;
    }
    .linkTwo,
    .linkThird {
      margin-top: 10px;
      width: 100%;
      height: 55px;
      .titleSNS {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #5c5c5c;
        margin: 0 auto;
        .linklink {
          display: flex;
          width: 100%;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .linkThird {
      margin-top: 25px;
    }
  }
  .linkicon {
    display: inline-block;
    width: 14px;
    // margin: 0 auto;
  }
  .rightlinkicon {
    margin-left: 20px;
  }
  .cafeDesc {
    flex: 2;
    width: 100%;
    text-align: center;
    border-top: 0.5px solid #adadad;
    border-bottom: 0.5px solid #adadad;
    .topSpan {
      margin-top: 30px;
    }
    .bottomSpan {
      margin-bottom: 30px;
    }
    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #5c5c5c;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
    }
  }
  .containerDesc {
    border-top: 0;
    .flexbox {
      display: flex;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 100px;
      height: 40px;
      .left {
        position: absolute;
        left: 20%;
        transform: translateX(-50%);
      }
      .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .right {
        position: absolute;
        left: 80%;
        transform: translateX(-50%);
      }
    }
    .secondLine {
      margin-top: 100px;
    }
    div {
      margin: auto auto;

      img {
        width: 34px;
      }
      div {
        margin-top: 10px;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        span {
          font-weight: 500;
          font-size: 8px;
          color: black;
        }
        .toNone {
          opacity: 0.4;
        }
      }
    }
  }

  .answerOne {
    margin: 0 auto;
    margin-top: 5px;
    line-height: 15px;
    span {
      display: inline;
      width: 100%;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #5c5c5c;
    }
  }

  .imgTwo {
    width: 100%;
    height: 180px;
    display: flex;
    img {
      flex: left;
      width: 180px;
      margin: 0 auto;
    }
  }

  // 3.1, 3.2, 3.3, 3.4 png
  // grid gap issue
  .container {
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
  }
}
#nav {
  display: none;
}

// 1025px --> pc
@media only screen and (min-width: 1025px) {
  table {
    margin-top: 5vh;
    tr {
      td {
        img {
          width: 2vh;
          height: 2vh;
        }
        line-height: 2vh;
        font-size: 1.5vh;
      }
    }
  }
  .magazine {
    width: 100vh;
    .cafeDesc {
      .flexbox {
        display: flex;
        width: 100%;
        margin-top: 30px;

        .left {
          position: absolute;
          left: 35%;
          transform: translateX(-50%);
        }
        .center {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        .right {
          position: absolute;
          left: 65%;
          transform: translateX(-50%);
        }
      }
      .secondLine {
        margin-top: 100px;
        margin-bottom: 100px;
      }
      div {
        img {
          width: 3.4vh;
          font-weight: 500;
          font-size: 1vh;
          line-height: 10px;
        }
      }
    }
    .imgTwo {
      height: 100%;
      img {
        width: 48%;
      }
    }
    .bottom {
      .cafeMenu {
        width: 100%;
        img {
          width: 98%;
        }
      }
    }
    .address {
      font-size: 1.8vh;
      font-weight: 400;
    }
  }
  .answerOne {
    line-height: 2vh;
    margin-bottom: 0;
    span {
      font-size: 1.7vh;
      line-height: 2vh;
    }
  }
  .One {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    background-position: inherit;
  }
  .magazineThumbnail {
    position: relative;
    width: 100%;
  }
  .LereveMenu {
    height: 100%;
  }

  .crowdyMagazine {
    display: none;
  }
  .title {
    display: inline;
    margin-top: 7vh;
    margin-bottom: 3vh;
    line-height: 5vh;
    span {
      font-size: 4vh;
      font-weight: 400;
    }
    .address {
      margin-top: 1vh;
      font-size: 1.8vh;
      font-weight: 400;
    }
  }
  .cafeDesc {
    width: 100%;
    line-height: 3vh;
    span {
      font-size: 1.8vh;
    }
    .topSpan {
      margin-top: 5vh;
    }
    .bottomSpan {
      margin-bottom: 5vh;
    }
  }
}

table {
  margin: 0 auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  a {
    img {
      height: 13px;
      width: 13px;
    }
  }
}
