.qaTitle {
  margin-top: 40px;
  width: 80%;
  font-size: 2vh;
  font-weight: 700;
  text-align: right;
}
.questAnswer {
  margin: 0 auto;
  width: 80%;
  .question {
    margin: 0 auto;
    margin-top: 40px;
    line-height: 20px;
    span {
      display: inline;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      color: #191919;
    }
  }
  .answer {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 20px;
    span {
      display: inline;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      color: #5c5c5c;
      .highlightSpan {
        font-weight: 500;
      }
    }
  }
  .lastAnswer {
    margin-bottom: 0;
  }
}
.twoQuestion {
  margin-top: -40px;
}
@media only screen and (min-width: 1025px) {
  .questAnswer {
    margin-top: 1vh;
    margin-bottom: 1vh;
    .question {
      line-height: 3vh;
      span {
        font-size: 2vh;
      }
    }
    .answer {
      line-height: 2vh;
      span {
        font-size: 1.7vh;
        line-height: 2vh;
      }
    }
  }
}
